<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.guet.springbootdemo.mapper.RoleMapper">

    <resultMap id="roleNameMap" type="cn.edu.guet.springbootdemo.bean.Role">
        <result property="roleId" column="roleID"/>
        <result property="roleName" column="roleName"/>
    </resultMap>

<!-- 获取角色的名称列表 -->
    <select id="getRoleNameList" resultMap="roleNameMap">
        SELECT id roleID,name roleName
        FROM sys_role
    </select>

</mapper>

