<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.guet.springbootdemo.mapper.UserMapper">

    <!--  resultMap 配置  -->
    <resultMap id="loginMap" type="cn.edu.guet.springbootdemo.bean.User">
        <!--     id 是主键   -->
        <id property="userId" column="id"/>
        <result property="username" column="name"/>
        <result property="password" column="password"/>
    </resultMap>


    <resultMap id="permissionMap" type="cn.edu.guet.springbootdemo.bean.Permission">
        <id property="perId" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="parentName" column="parent_name"/>
        <result property="type" column="type"/>
        <result property="url" column="url"/>
        <result property="icon" column="icon"/>
    </resultMap>

<!--  查询语句  -->
    <!--  登录  -->
    <select id="login" resultMap="loginMap" parameterType="cn.edu.guet.springbootdemo.bean.User">
        SELECT * FROM sys_user WHERE name=#{username} AND password=#{password}
    </select>

    <!--  检查用户名: 检查记录是否存在，并返回布尔值   1:ture 0:false -->
    <select id="checkUsername" parameterType="String" resultType="boolean">
<!--        <![CDATA[ SELECT * FROM users WHERE username=#{username} ]]>-->
        SELECT EXISTS(SELECT * FROM users WHERE username=#{username})
    </select>

    <!--  根据id获取权限  -->
    <select id="getPermissionByUserId" resultMap="permissionMap" parameterType="int">
        SELECT distinct sm.*
        FROM sys_user su,sys_user_role sur,sys_role sr,sys_role_menu srm,sys_menu sm
        WHERE su.id=sur.user_id
          AND sur.role_id=sr.id
          AND sr.id=srm.role_id
          AND srm.menu_id=sm.id
          AND su.id=#{userId}
    </select>


</mapper>
